{# <a class="navbar-brand">{{ 'title_header'|trans }}</a>#}
<div id="navbar">
	<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
		<div class="left-nav">
			<div class="navbar-brand">
				<a class="" href="{{ path('app_menu') }}">{{ 'title_header'|trans }}</a>
			</div>
		</div>
		<div class="right-nav">
			<ul class="nav navbar-nav navbar-right nav-main">
				<li><a href="{{ path('app_dashboard') }}">{{ 'title_dashboard'|trans }}</a>
				</li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">{{ 'title_profile'|trans }}</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('app_profile_show') }}">{{ 'title_profile_show'|trans }}</a></li>
						<li><a href="{{ path('app_profile_edit') }}">{{ 'title_profile_edit'|trans }}</a></li>
					</ul></li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">{{ 'title_settings'|trans }}</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('app_settings_show') }}">{{ 'title_settings_show'|trans }}</a></li>
						<li><a href="{{ path('app_settings_edit') }}">{{ 'title_settings_edit'|trans }}</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
</div>
